<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <!-- mysql -->
        <property name="dialect">org.hibernate.dialect.MySQL8Dialect</property>
        <property name="connection.url">
            jdbc:mysql://127.0.0.1:3306/example_hibernate?serverTimezone=Asia/Shanghai
        </property>
        <property name="connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <property name="connection.username">root</property>
        <property name="connection.password">123456</property>

        <property name="connection.pool_size">12</property>
        <property name="show_sql">true</property>
        <property name="format_sql">true</property>
        <property name="hbm2ddl.auto">update</property>

        <mapping class="o.Person"/>
        <mapping class="oo.Book"/>
        <mapping class="oo.Detail"/>
        <mapping class="om.Department"/>
        <mapping class="om.Employee"/>
        <mapping class="mm.User"/>
        <mapping class="mm.Role"/>
    </session-factory>
</hibernate-configuration>
